@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.font-robotocon {
  font-family: 'Roboto', sans-serif;
}

.font-lora {
  font-family: 'Lora', serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}

.bg-newsweek {
  background: #f72210;
}

.text-newsweek {
  color: #f72210;
}

.text-gray {
  color: rgba(39,39,39,.5);
}

.fsize-10p {
  font-size: 10px;
}

.fsize-15p {
  font-size: 15px;
}

.fsize-13p {
  font-size: 13px;
}

.fsize-14p {
  font-size: 14px;
}

.fsize-17p {
  font-size: 17px;
}

.fsize-20p {
  font-size: 1.53rem;
}

.history-img {
  width: 100%;
}

.history-img-section {
  bottom: 0;
  left: 0;
}

.history-text {
  padding-left: 10px;
}

.button {
  background: #c2d4d7;
  border: 0;
  font-size: 0.8rem;
  padding: 0 7px;
}

.button:hover {
  background: #000000;
  color: white;
}

.author-photo {
  float: left;
  width: 70px;
}

.author-photo img {
  width: 100%;
}

.author-info {
  display: inline-block;
  padding-left: 10px;
  width: calc(100% - 70px);
}

.opinion hr, .footer hr {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.signup {
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 200px;
}

.signup .logo {
  height: 30px;
  width: 30px;
}

.signup .logo-container span {
  padding-left: 10px;
}

.nInMagazine .logo, .nEditorPicks .logo, .fSlideshows .logo {
  width: 40px;
}

.nInMagazine span, .nEditorPicks span {
  padding-left: 20px;
}

.nInMagazine-container .histories span {
  display: inline-block;
  margin-top: 5px;
  padding: 0 10px;
}

.bg-slideshow {
  background: url(../resources/icon-slideshows-nw.png) 0/contain no-repeat;
}

.leaf {
  display: inline-block;
  margin: 6px 0;
  padding-right: 20px;
}

.fline-15p {
  line-height: 15px;
}

.history-img-wrap {
  margin: 0 auto;
  width: 50%;
}

.news .histories .history-img-container img {
  width: 200px;
}

.history-img-wrap .img-cover {
  left: 3.00em;
  top: 1.56em;
}

header, main, footer {
  margin: 0 auto;
  max-width: 1310px;
}

.more-stories .histories {
  min-height: 210px;
}

.more-stories .histories .history-img-container {
  float: left;
  width: 200px;
}

.more-stories .histories .history-text {
  display: inline-block;
  width: calc(100% - 200px);
}

.more-stories .histories .history-text p {
  font-size: 13px;
  width: 100%;
}

.latest-news .histories {
  min-height: 180px;
}

.latest-news hr {
  margin: 0 .5rem;
}

.latest-news .histories .history-img-container {
  float: left;
  height: 164px;
  overflow: hidden;
  width: 250px;
}

.latest-news .histories .history-text {
  display: inline-block;
  width: calc(100% - 250px);
}

.latest-news .histories .history-text p {
  width: 100%;
}

.navbar-buttons {
  text-align: end;
}

header nav::before {
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}
@media (min-width: 768px){
  .social-media-container {
    text-align: end;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .history-text p {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .latest-news .histories .history-text {
    width: 100%;
    display: inline-block;
  }

  .latest-news .histories .history-img-container {
    width: 100%;
    float: left;
  }

  .news .histories .history-img-container img {
    width: 100px;
  }
}