@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.font-robotocon {
  font-family: 'Roboto', sans-serif;
}

.font-lora {
  font-family: 'Lora', serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}

.bg-newsweek {
  background: #f72210;
}

.text-newsweek {
  color: #f72210;
}

.text-gray {
  color: rgba(39, 39, 39, 0.5);
}

.fsize-10p {
  font-size: 10px;
}

.fsize-15p {
  font-size: 15px;
}

.fsize-13p {
  font-size: 13px;
}

.fsize-14p {
  font-size: 14px;
}

.fsize-17p {
  font-size: 17px;
}

.fsize-20p {
  font-size: 1.53rem;
}

header .navbar::before {
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}

.history-img-section {
  bottom: 0;
  left: 0;
}

.culture-travel .history-img {
  object-fit: cover;
  height: 100px;
  width: 100%;
}

.culture-travel button {
  background: #c2d4d7;
  border: 0;
  font-size: 0.8rem;
}

.more-stories .history-img-container {
  width: 95px;
  float: left;
  margin-right: 5px;
}

.author-photo {
  width: 100px;
}

.latest-news img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.leaf {
  display: inline-block;
  margin: 6px 0;
  padding-right: 20px;
}

.nInMagazine-container .booksToBuy .history-img-section{
  font-size: 1.3rem;
}

div.row.inmagazine-articles > div > div > img {
  object-fit: cover;
  height: 165px;
  width: 100%;
}

.fSlideshows-container .histories img{
  object-fit: cover;
  height: 165px;
  width: 100%;
}

.bg-slideshow {
  background: url(../resources/icon-slideshows-nw.png) 0/contain no-repeat;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .more-stories .history-img-container {
    width: 30%;
    margin-right: 5px;
  }
  .culture-travel .history-img {
    height: 120px;
  }
  div.row.inmagazine-articles > div > div > img {
    object-fit: cover;
    height: 235px;
    width: 100%;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .more-stories .history-img-container {
    width: 50%;
    margin-right: 5px;
  }
  .nInMagazine-container .booksToBuy .history-img-section{
    font-size: 0.7rem;
  }
  div.row.inmagazine-articles > div > div > img {
    object-fit: cover;
    height: 105px;
    width: 100%;
  }
  .news .histories-main img {
    object-fit: cover;
    height: 150px;
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .more-stories .history-img-container {
    width: 40%;
    margin-right: 5px;
  }
  .latest-news img {
    height: 150px;
  }
  .nInMagazine-container .booksToBuy .history-img-section{
    font-size: 1rem;
  }
  .news .histories-main img {
    object-fit: cover;
    height: 200px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .more-stories .history-img-container {
    width: 30%;
    margin-right: 5px;
  }
  .latest-news img {
    height: 200px;
  }
  div.row.inmagazine-articles > div > div > img {
    object-fit: cover;
    height: 165px;
    width: 100%;
  }

  .fSlideshows-container .histories img{
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  .news .histories-main img {
    object-fit: cover;
    height: 250px;
  }
}